<html ng-app>
    <head>
        <title>Lista de compras</title>
        <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        <script src="listaComprasController.js" type="text/javascript"></script>
    </head>
    <body>
    	<!-- Escopo do controller compras -->
    	<div ng-controller="lista_compras_controller">
			<!-- Formulario de cadastro de produtos -->
	    	<form class="form-inline" name="formItem" type="post">
			  <input type="text" ng-model="item.produto">
			  <input type="number" ng-model="item.quantidade">
			  <button ng-click="adiciona_item()">adicionar ítem</button>
			</form>
	
	    	<!-- Tabela com a lista de compras -->
		    <table>
		      <thead>
		        <tr>
		          <th>Produto</th>
		          <th>Quantidade</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="item in itens">
		          <td><strong>{{ item.produto }}</strong></td>
		          <td>{{ item.quantidade }}</td>
		        </tr>
		      </tbody>
		    </table>
		</div>

    </body>
</html>